{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<h1>Post Detail: </h1>
{% if post.image %}
    <img src="/media/{{ post.image }}" class="card-img-top" alt="..." style="max-width: 35%; height: auto;">
{% else %}
    <img src="{% static 'not_found_jpg' %}" class="card-img-top" alt="..." style="max-width: 35%; height: auto;">
{% endif %}

<h2>Title: {{ post.title }}</h2>
<p>Content: {{ post.content }}</p>
<p>Created: {{ post.created_at }}</p>
<p>Updated: {{ post.updated_at }}</p>
<p>Rate: {{ post.rate }}</p>
<p>Category: {{ post.category }}</p>    
    
            {% for tag in post.tags.all %}
                <span class="badge bg-secondary">{{ tag.name }}</span>
            {% endfor %}

{% endblock %}
